{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{%static 'style.css'%}" rel="stylesheet"> 
    <title>Home Page</title>
</head>
<body>
    <h1> This is homepage</h1>
    <br>    
   


   <br>
    <!-- to start python logic{} -->
   <!-- {%if Gender == 'Female' %}
        Welcome Ms! 
        {%else%}
        Welcome Mr Batat {{Name}}!
   {%endif%} -->

   {%if Gender == 'F' %}
        Hello Mrs. {{name}} 
        {%else%}
        Welcome Mr {{name}}!
   {%endif%}



</body>
</html>