{% extends 'base.html' %}
{% load static %}

{% block title %}
{% for activity in list %}
  {{activity.name}}
  {% endfor %}
  {% endblock title%}



{% block content %}

<body class="sunset">
  

<article id="activities" class="standard-padding">
    <section class=" standard-padding">
      
      {% for activity in list %}
      
      <h1 class="name">{{activity.name}}</h1>
    </section>
    <section >
      <div class="activity-list">
      <ul class="all">
        
        
        <li class="rest1">
          <div class="restaurantword">
          <i class="fa-solid fa-utensils"></i> Restaurants </div>
          <div class="list">  <span class="actrest" >{{ activity.restaurants }} <br> </span> </div> <br>
        </li>
        <li class="acti1">
          <i class="fa-solid fa-person-hiking"></i> Activities
          <div class="list"> <span class="act">{{activity.activities}} <br> </span></div>
        </li>
        <li class="ptv1">
          <i class="fas fa-car"></i> Places To Visit
          <div class="list"> <span class="actplaces">{{activity.places_to_visit }} <br> </span> </div>
          
        </li>
      </ul>
    </div>
    </section>





  </article>



  <section id="listing" class="py-4">
    <div class="container">
      
      <div class="row">
        <div class="col-md-9">
          <!-- Home Main Image -->
          <!-- <img src="{{ activity.photo_main.url }}" alt="" class="img-main img-fluid mb-3"> -->
          <!-- Thumbnails -->
          <div class="pictures" width="400px" height="400px">
            {% if activity.photo_1 %}
            <div class="">
              <a href="{{ activity.photo_1.url}}" data-lightbox="home-images">
                <img src="{{ activity.photo_1.url}}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if activity.photo_2 %}
            <div class="">
              <a href="{{ activity.photo_2.url}}" data-lightbox="home-images">
                <img src="{{ activity.photo_2.url}}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if activity.photo_3 %}
            <div class="">
              <a href="{{ activity.photo_3.url}}" data-lightbox="home-images">
                <img src="{{ activity.photo_3.url}}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if activity.photo_4 %}
            <div class="">
              <a href="{{ activity.photo_4.url}}" data-lightbox="home-images">
                <img src="{{ activity.photo_4.url}}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if activity.photo_5 %}
            <div class="">
              <a href="{{ activity.photo_5.url}}" data-lightbox="home-images">
                <img src="{{ activity.photo_5.url}}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if activity.photo_6 %}
            <div class="">
              <a href="{{ activity.photo_6.url}}" data-lightbox="home-images">
                <img src="{{ activity.photo_6.url}}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if activity.photo_7 %}
            <div class="">
              <a href="{{ activity.photo_7.url}}" data-lightbox="home-images">
                <img src="{{ activity.photo_7.url}}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if activity.photo_8 %}
            <div class="">
              <a href="{{ activity.photo_8.url}}" data-lightbox="home-images">
                <img src="{{ activity.photo_8.url}}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if activity.photo_9 %}
            <div class="">
              <a href="{{ activity.photo_9.url}}" data-lightbox="home-images">
                <img src="{{ activity.photo_9.url}}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
           
          </div>

{% endfor %}

  
      </div>
    </div>
    </div>
    
  </section>

  

</body>


{% endblock content%}
  

  