header{
    min-height: 70vh;
    width: auto;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/waves.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.button-wrap{
  
    left:70%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 30%;
   left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    font-style: bold;
    box-sizing: border-box;
   
  }

 .fa-solid fa-display{
    color:blue;
 }

.information{
    
        width: 80%;
        margin:auto;
        text-align: center;
       
      
}

.row{
    margin: 5%;
   
    justify-content: space-between;
}
.info-col{
    flex-basis: 31%;
    
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
   
    
    
}

input[type=submit]{
   background-color:rgb(0, 140, 255);
   color:white;
   height:fit-content;
}