/* Exercise 2
div {
    background-color: lightblue;
    padding: 20px;
}

* {
    font-size: 30px;
}

ul :nth-child(1){
    border: 1px solid red;
} */


/* Exercise 4 */
/* table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
  }
 */

