{%extends "base.html"%}
{% load static %}
{% load humanize %}

{% block title %}
  Cities
  {% endblock title%}

{%block content%}
  
  
  
  
  <!-- Listings -->
  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">

        {% if mylist %}
        {% for listing, weather in mylist %}
        
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img src="{{ listing.photo_main.url }}" alt="Hello" class="img-main img-fluid mb-3" width="500px" height="200px">
            <div class="card-img-overlay">
              
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">{{listing.city}}</h4>
                
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                   Direction: {{listing.direction}}
                  </div>
                <div class="col-6">
                  Population : {{listing.population|intcomma}} 
                </div>
                  
                  <div class="col-6">
                    Weather:<img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">{{weather.temperature}}°C
                   </div>
                    
                  
               


              </div>
              
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-12">
                  {{listing.description}}</div>
              </div>
              
              <hr>
              
              
            
            </div>
          </div>
          <a href="{%url 'listing' listing.id %}" class="divlink"> More info</a>
        </div>
        

        {%endfor%}
        {%else%}
        <div class="col-md-12">
          <p>No Cities Availabless</p>
        </div>
        {%endif%}

      

      </div>



      <!-- <div class="row">
        <div class="col-md-12">
          {%if listing.has_other_pages%}
          <ul class="pagination">
            {%if listing.has_previous %}
            <li class="page-item disabled">
              <a href="?page={{listing.previous_page_number}}" class="page-link">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a href="" class="page-link">&laquo;</a>

            </li>
            {% endif %}
            {% for i in listing.paginator.page_range %}
            {% if listing.number == i %}
            <li class="page-item active">
              <a class="page-link" href="#">
                {{i}}
              </a>
            </li>
            {% else %}
            <li class="page-item">
              <a href= "?page={{i}}" class="page-link">
                {{i}}
              </a>
            </li>
            {% endif %}
            {% endfor %}
            {% if listing.has_next%}
            <li class="page-item">
              <a href="?page=={{listing.next_page_number}}" class="page-link" >&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disable">
              <a class="page-link" href="">&raquo;</a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </div>
      </div> -->

     
{% if mylist.has_other_pages %}
<h1>helooo</h1>
<ul class="pagination">
  {% if mylist.has_previous %}
    <li><a href="?page={{ mylist.previous_page_number }}">&laquo;</a></li>
  {% else %}
    <li class="disabled"><span>&laquo;</span></li>
  {% endif %}
  {% for i in mylist.paginator.page_range %}
    {% if mylist.number == i %}
      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}
  {% if mylist.has_next %}
    <li><a href="?page={{ mylist.next_page_number }}">&raquo;</a></li>
  {% else %}
    <li class="disabled"><span>&raquo;</span></li>
  {% endif %}
</ul>
{% endif %}
     
    </div>
  </section>

  {%endblock content%}
