{% extends 'base.html' %}


{% block title %} | Search Results {% endblock %}


{% block content %}
  <section id="showcase-inner" class="showcase-search text-white py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <form action="{% url 'index'%}">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">Keywords</label>
                <input type="text" name="keywords" class="form-control" placeholder="Keyword (Beach, Holy, etc)" value="{{ values.keywords }}">
              </div>


              <div class="col-md-4 mb-3">
                <label class="sr-only">City</label>
                <select name="city" class="form-control">
                  <option selected="true" disabled="disabled">City (All)</option>
                  {% for key, value in city_choices.items%}
                  <option value="{{key}}"
                  {% if key == values.city %} 
                  selected 
                  {% endif %}
                  >{{value}}</option>
                  {% endfor %}
                  
                </select>
              </div>
            
            <!-- Form Row 2 -->
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">Direction</label>
                <select name="direction" class="form-control">
                  <option selected="true" disabled="disabled">Direction (Any)</option>
                  {% for key, value in direction_choices.items%}
                  <option value="{{key}}"
                  {% if key == values.direction %} 
                  selected 
                  {% endif %}
                  >{{value}}</option>
                  {% endfor %}
                  
                </select>
              </div>
            </div>
              
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
          </form>
        </div>
      </div>
    </div>
  </section>



  
  <!-- Listings -->
  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">

        {% if listings %}
        {% for listing in listings %}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="{{listing.photo.main.url}}" alt="">
            <div class="card-img-overlay">
              
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">{{listing.city}}</h4>
                
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                   Direction: {{listing.direction}}</div>
                <div class="col-6">
                  Population: {{listing.population}}</div>
              </div>
              
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-12">
                  {{listing.description}}</div>
              </div>
              
              <hr>
              <a href="{%url 'listing' listing.id %}" class="divlink"> More Info </a>
            </div>
          </div>
        </div>
        

        {%endfor%}
        {%else%}
        <div class="col-md-12">
          <p>No Cities Available</p>
        </div>
        {%endif%}

      

      </div>

     
    </div>
  </section>


      {% endblock content %}