ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position:sticky;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .row{
    margin-bottom:32px;
    width:100%;
    float:left;
  }


  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: lightgray;
    text-align: left;
    height:30px
 }

 .products-col{
    float:left;
    width:25%;
 }
 .products-col img{
    width: 100%;
    height: 100%;
    display: block;
    max-width: 100%;
    min-height: 320px;
}
.products-col p{
   color:green;
   font-weight: bold;
   float:left;
   position: relative;
   top:-25px;
}
.before p {
    text-decoration: line-through;
    color:lightgray
  }

  .layer button{
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 40%;
    font-size: 10px;
    position: relative;
    bottom:-24px;
    left:-42px;
  
  }
  .layer button:hover {
    opacity: 0.7;
  }