
.senses h3{
text-decoration: underline;

}

.media h3{
    text-align: center;
}

.behavior table td {
    display: block;
    color:red;
    border:1px solid ;
    margin:auto;
    text-align: center;
    width:800px;

}
table{
    border-width: 0;
}

.behavior {
    width:50%;
    margin:0 auto;
}

.lions table, .lions th, .lions td {
    border:1px solid;
    margin: auto;
  
}

img {
    border:20px solid orange;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height:auto;
  }
