 <!-- <section class="education" > 
    <div class="row">

         
        
            <div class="edu-col">
                <h2 class="text-primary">{{edu.uni_name}}</h2>
             </div>

                <hr>
            <div class="edu-col">
                 <h4>{{edu.degree}}</h4> 
            </div>

            <div class="edu-col">
                 <h4>{{edu.grade}} </h4> 
            </div>

            <div class="edu-col">
                <h4> {{edu.place}} </h4> 
            </div>

            <div class="edu-col">
             <h4>{{edu.year}} </h4>
            </div>
   
             
          
        

    </div>
</section> 
 -->
