{% load static %}

        <section class="campus">
            <h1>Technical Skills</h1>
            
            
            <div class="rowimg">
                <div class="campus-col">
                <img src="{% static 'images/html1.png' %}">
                    <div class="layer">
                    <h3>HTML</h3>
                    </div>
                </div>
                 <div class="campus-col">
                <img src="{% static 'images/css1.jpg' %}">
                    <div class="layer">
                    <h3>CSS</h3>
                    </div>
                </div>
                 <div class="campus-col">
                <img src="{% static 'images/js.png' %}">
                    <div class="layer">
                    <h3>JAVASCRIPT</h3>
                    </div>
                </div>

                <div class="campus-col">
                    <img src="{% static 'images/python.jpg' %}">
                        <div class="layer">
                        <h3>PYTHON</h3>
                        </div>
                    </div>

                <div class="campus-col">
                        <img src="{% static 'images/sql.png' %}">
                            <div class="layer">
                            <h3>SQL</h3>
                     </div>
                </div>

                        <div class="campus-col">
                            <img src="{% static 'images/mysql.png' %}">
                                <div class="layer">
                                <h3>MYSQL</h3>
                                </div>
                    </div>


                    <div class="campus-col">
                        <img src="{% static 'images/postegresql.png' %}">
                            <div class="layer">
                            <h3>POSTGRESQL</h3>
                            </div>
                        </div>
                        
                        <div class="campus-col">
                            <img src="{% static 'images/restai.png' %}">
                                <div class="layer">
                                <h3>REST API</h3>
                                </div>
                            </div>

                            
                        <div class="campus-col">
                            <img src="{% static 'images/bt.png' %}">
                                <div class="layer">
                                <h3>BOOTSRAP</h3>
                                </div>
                            </div>
                        
            </div>
            
        
        
        
        </section>
        
        