<!-- 

{% block content %}
<h1>hellooooooo</h1>

 <section class="education" > 
    <div class="row">

         {% for edu in info %}
        
            <div class="edu-col">
                <h3 class="text-primary">{{edu.uni_name}}</h3>
             </div>

                <hr>
            <div class="edu-col">
                 <h4>{{edu.degree}}</h4> 
            </div>

            <div class="edu-col">
                 <h4>{{edu.grade}} </h4> 
            </div>

            <div class="edu-col">
                <h4> {{edu.place}} </h4> 
            </div>

            <div class="edu-col">
             <h4>{{edu.year}} </h4>
            </div>
   
             
          
        

        {%endfor%}
    </div>
</section> 

{% endblock content%} -->