.big-box{
    height:100vh;
    display: grid;
    margin: 3px;
    padding: 10px;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
    grid-gap: 5px;
}


.big-box>div:nth-child(2n+1){
    background-color: white;
}

.big-box>div:nth-child(2n+2){
    background-color: lightcoral;
}

.big-box>div:nth-child(16n+1){
    background-color: lightcoral;
}

.big-box>div:nth-child(16n+2){
    /* background-color: red; */
}

