.big-box{
    height:100vh;
    
    display: grid;
    margin: 3px;
    padding: 10px;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
    column-width: 20px;
    grid-gap: 5px;
}


.big-box>div:nth-child(4n+1){
    background-color: lightgray;
}

.big-box>div:nth-child(4n+2){
    background-color: gray;
}

.big-box>div:nth-child(4n+3){
    background-color: darkgray
}
.big-box>div:nth-child(4n+4){
    background-color: black;
}
