.big-box{
    height:100vh;
    display: grid;
    margin: 3px;
    padding: 10px;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
    grid-gap: 5px;
}


.big-box>div:nth-child(3n+1){
    background-color: orange;
}

.big-box>div:nth-child(3n+2){
    background-color: rgba(225,161,43, 0.903);
}

.big-box>div:nth-child(3n+3){
    background-color: rgba(147, 101, 14, 0.903);
}
