{%extends "base.html" %} 
{%load static%}
{% block title %}
  About Us
  {% endblock title%}
{% block content %}

<section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>We help you choose the perfect destination</h2>
          <p class="lead h6">Not sure where to travel around the country? Tour Guide is here for you!</p>
          <img src="
          {% static 'images/about.jpg' %}" alt="">
          <p class="mt-4 h5">Tour Guide by Wishahi website offers an extensive library of free information and constant updates
            about travelling in the country. It shows that this country does not just offer religious sites, it
            has much more to offer beyond conventional tourist attractions. From Jerusalem's hidden
            gems, to Eilat's relaxing resorts, this country has so much to offer from culture, 
            cuisine, street life, religion, and history. Come visit our country and explore the endless 
            cities, activities, and culture !
          </p>
        </div>

       
      </div>
    </div>
  </section>

  {% endblock content %}