*{
    margin :0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
    float: left;
}
.nav-link {
    flex:1;
    text-align: right;
    }
.nav-link ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px; 
    position: relative;
}
.nav-link ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-link ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
    
    
}
.nav-link ul li:hover::after{
    width: 100%;
    
}


.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    
    }
nav .fas{
    display: none;
}

    .nav-links ul li {
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
            top:0;
        right:-200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fas {
        display: block;
        color: #fff;
        margin: 10px;
        font-size:22px;
        cursor:pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    
    


#showcase {
    background: url(../images/background.jpg) no-repeat top center fixed;
    background-size: cover;
    position: relative;
    min-height: 650px;
    color: #fff;
    padding-top: 6rem; }
    #showcase .home-search {
      min-height: 400px;
      position: relative;
      border-radius: 5px; }
    #showcase .overlay {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      min-height: 400px;
      width: 100%;
      background: rgba(51, 51, 51, 0.8); }
  
  
  
  #showcase-inner {
    background: url(../images/background.jpg) no-repeat top center fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
    min-height: 200px; }
    #showcase-inner::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100%;
      width: 100%;
      background: rgba(32, 134, 107, 0.8); }
    #showcase-inner.showcase-search {
      min-height: 270px; }
 
      .btn-primary {
        color: #fff;
        background-color: #10284e;
        border-color: #10284e; }
        .btn-primary:hover {
          color: #fff;
          background-color: #09182e;
          border-color: #071224; }
        .btn-primary:focus, .btn-primary.focus {
          box-shadow: 0 0 0 0.2rem rgba(16, 40, 78, 0.5); }
        .btn-primary.disabled, .btn-primary:disabled {
          color: #fff;
          background-color: #10284e;
          border-color: #10284e; }
        .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
        .show > .btn-primary.dropdown-toggle {
          color: #fff;
          background-color: #071224;
          border-color: #050d19; }
          .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
          .show > .btn-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(16, 40, 78, 0.5); }


a.btn.disabled,
fieldset:disabled a.btn {
 pointer-events: none; }


 
    .btn-block {
        display: block;
        width: 100%; }
        .btn-block + .btn-block {
          margin-top: 0.5rem; }
      
      input[type="submit"].btn-block,
      input[type="reset"].btn-block,
      input[type="button"].btn-block {
        width: 100%; }


       

.activity-list {
    display: flex;
}

.all {
    display: flex;
    text-align: center;
   list-style: none;
}

.rest1, .acti1, .ptv1 {
    margin-right: 30px;
}

.list {
    height: 200px;
    text-align: left;
}

.ptv1 {
    text-decoration: none;
}

.actrest, .act, .actplaces{
    content: "\a";
    white-space: pre;
    margin-bottom: 30px;
}

.name {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.rest1{
    margin-right: 100px;
    margin-left: 100px;
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.acti1{
    
    margin-right: 100px;
    
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.ptv1{
    margin-right: 100px;
    
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.restaurantword{
    margin-bottom: 20px;
}

.sunset{
    background-image: url(../images/sunset.png) ;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
/* 
#main-footer{
    margin-top: 70px;
} */

.pictures{
    display: flex;
    /* align-content: flex-end; */
    flex-direction: row;
    width: 1000%;
    margin-top: 100px;
    margin-left: -300px;
}